/* Containers are hidden and show using pure CSS and a single Session variable as it is much quicker than jQuery hide/show */

/* Container for tab pages - basically the same at nt-container but hidded by default */
.nt-tab-container {
	position: absolute;
	top: 0; 
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	display: none;
}

/* Show the current tab */
.nt-tab-1 .nt-tab-1,
.nt-tab-2 .nt-tab-2,
.nt-tab-3 .nt-tab-3,
.nt-tab-4 .nt-tab-4,
.nt-tab-5 .nt-tab-5 {
	display: block;
}

/* nt-heavy can be added to any "heavy" content on a tab.  It hides content by default so that it doesn't slow down the transitions */
.nt-tab-container .nt-heavy {
	display: none;
}

/* Show the "heavy" content a split second after we show the page */
.nt-heavy-tab-1 .nt-tab-1 .nt-heavy,
.nt-heavy-tab-2 .nt-tab-2 .nt-heavy,
.nt-heavy-tab-3 .nt-tab-3 .nt-heavy,
.nt-heavy-tab-4 .nt-tab-4 .nt-heavy,
.nt-heavy-tab-5 .nt-tab-5 .nt-heavy {
	display: block;
}

/* Fixes z-index problem with scrolling items underneath */
.nt-tabs-hidden .nt-scroll {
	overflow: hidden;
}
