 <head> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
</head>

<body>
		
	{{#ntTabs template1="tab1" template2="tab2" template3="tab3" template4="tab4"}}

		{{#ntTab position="1"}}
			<i class="ion-ios-home"></i>
			Tab 1
		{{/ntTab}}

		{{#ntTab position="2"}}
			<i class="ion-ios-email"></i>
			Tab 2
		{{/ntTab}}

		{{#ntTab position="3"}}
			<i class="ion-heart"></i>
			Tab 3
		{{/ntTab}}

		{{#ntTab position="4"}}
			<i class="ion-ios-person"></i>
			Tab 4
		{{/ntTab}}

	{{/ntTabs}}



</body>









