<template name="blank">

	<div class="nt-container">
		<div class="nt-scroll nt-padding">

			<h1>Blank canvas</h1>
			<p>You can choose pages that shouldn't have headers or tabs!</p>
			<a class="nt-button nt-icon-left" onclick="history.go(-1);" nt-direction="right">
				<i class="ion-ios-arrow-back"></i> Back
			</a>

			<hr>

			<h1>No header</h1>
			<p>Just set the nt.noHeader = true; flag in onRendered for the template.</p>
			{{>ntBackButton}}

			<hr>

			<h1>No tabs</h1>
			<p>Just set the nt.noTabs = true; flag in onRendered for the template.</p>
			{{>ntBackButton}}
			
			<hr>


		</div>
	</div>

</template>