<template name="buttons">

	<div class="nt-header">	
		{{>ntBackButton}}
		<h1>Buttons</h1>
	</div>

	<div class="nt-scroll nt-has-header nt-has-tabs nt-padding">

		<div>
			<a class="nt-button">nt-button</a>
		</div>
		<div>
			<a class="nt-button nt-large">nt-button nt-large</a>
		</div>
		<div>
			<a class="nt-button nt-small">nt-button nt-small</a>
		</div>
		<div>
			<a class="nt-button nt-block">nt-button nt-block</a>
		</div>
		<div>
			<a class="nt-button nt-solid">nt-button nt-solid</a>
		</div>

		<hr>
		<p>You can combine any of the classes above and also add in text helper classes.  For example:</p>

		<div>
			<a class="nt-button nt-block nt-solid nt-text-center">nt-button nt-block nt-text-center</a>
		</div>

		<hr>
		<p>Buttons also support icons from the pagebakers:ionicons package and be placed on the left, right or both.</p>
		<div>
			<a class="nt-button nt-icon-left">
				<i class="ion-home"></i>
				nt-button nt-icon-left
			</a>
		</div>
		<div>
			<a class="nt-button nt-icon-left nt-small">
				<i class="ion-home"></i>
				nt-button nt-icon-left nt-small
			</a>
		</div>
		<div>
			<a class="nt-button nt-icon-left nt-large">
				<i class="ion-home"></i>
				nt-button nt-icon-left nt-large
			</a>
		</div>

		<div>
			<a class="nt-button nt-icon-right">
				nt-button nt-icon-left
				<i class="ion-home"></i>

			</a>
		</div>
		<div>
			<a class="nt-button nt-icon-right nt-small">
				nt-button nt-icon-left nt-small
				<i class="ion-home"></i>
			</a>
		</div>
		<div>
			<a class="nt-button nt-icon-right nt-large">
				nt-button nt-icon-left nt-large
				<i class="ion-home"></i>
			</a>
		</div>

		<div>
			<a class="nt-button nt-icon-left nt-icon-right">
				<i class="ion-home"></i>
				nt-button nt-icon-left nt-icon-right
				<i class="ion-ios-arrow-right"></i>
			</a>
		</div>

	</div>

</template>