<template name="feed">

		<div class="nt-subheader">
		   <a class="nt-button nt-block nt-solid nt-icon-right nt-text-left bg-dark-primary" href="/item" nt-direction="up">
				Where have you eaten?
				<i class="icon ion-ios-compose-outline"></i>
		   </a>
		</div>

			{{#unless ntHeavyLoaded}}
				<!-- <div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div>
				<div>LOADING</div> -->
			{{/unless}}

			<div class="nt-scroll nt-has-subheader nt-heavy">

				<div class="list feed-list">


						{{#each list}}

							    <a class="nt-item nt-avatar-left" href="/profile" style="height:100px;">
							      <img src="http://lorempixel.com/200/200/" class="nt-avatar">
							      <h2>{{this}}</h2>
							      <h3>rated</h3>
							    </a>
						    
							    <a class="nt-item" href="/item" style="height:200px;">
							       <h2>{{restaurantName}}</h2>
							       <h3>{{restaurantVicinity}}</h3>

							       {{#if comment}}
							       		<div class="comment">"{{comment}}"</div>
							       {{/if}}

							       <div class="feed-rating">
							       		<div class="feed-food">
							       			<div class="feed-rating-bg opacity-100"></div>
							       			<label>Food</label>
							       			<h2>Great</h2>
							       		</div>
							       		<div class="feed-service">
							       			<div class="feed-rating-bg opacity-100"></div>
							       			<label>Service</label>
							       			<h2>Great</h2>
							       		</div>
							       </div>

								    {{#if photos}}
								    	{{#each photos}}
										    <div class="nt-photo feed-photo">
										       <img data-src="{{url}}" class="nt-image nt-block lazyfade lazyload">
										       {{#if caption}}
										       		<div class="nt-caption">{{caption}}</div>
										       {{/if}}
										    </div>
									    {{/each}}
								    {{/if}}

							    </a>

							    <div class="nt-divider"></div>
						  

						{{/each}}

					
				</div>
			

			</div>


</template>