<template name="headers">

	<div class="nt-header">	
		{{>ntBackButton}}
		<h1>Headers</h1>
	</div>

	<div class="nt-subheader">	
		<h1>SubHeaders</h1>
	</div>

	<div class="nt-content nt-has-header nt-has-subheader nt-has-tabs nt-padding">

			<h1>Headers</h1>
			<p>This page has a header with the .nt-header class.  You'll also need to add the .nt-has-header class to the .nt-content container.</p>

			<hr>

			<h1>SubHeaders</h1>
			<p>This page has a subheader with the .nt-subheader class.  You'll also need to add the .nt-has-subheader class to the .nt-content container.</p>

		
	</div>

</template>