<template name="profile">

	<div class="nt-container">

		<div class="nt-header">
			<a class="nt-button" onclick="history.go(-1);" nt-direction="right">Back</a>
			<h1>Profile</h1>
			
		</div>

		<div class="nt-scroll nt-has-header">
			<a href="/?nt-tab=1" class="nt-button">HAH</a>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>
			<div>PROFILE</div>`
		</div>
		
	</div>

</template>