<template name="tab2">
	<div class="nt-tab-container nt-tab-2">
		<div class="nt-header">
			<h1>2222222</h1>
		</div>

			<div class="nt-scroll">
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<a href="/profile" class="nt-button">PROFILE</a>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<a href="/item" class="nt-button" nt-direction="up">ITEM</a>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
				<div>Just some smaller amount of items here</div>
			</div>
	</div>
</template>