<template name="tab3">
	<div class="nt-container">
		
		<div class="nt-header">
			<h1>Different transitions</h1>
		</div>

		<div class="nt-content nt-has-header nt-has-tabs">

			    <a class="nt-item nt-icon-right" nt-direction="up" href="/buttons">
			      <h2>Slide up</h2>
			      <h3>nt-direction="up"</h3>
			      <i class="ion-ios-arrow-up"></i>
			    </a>

			    <a class="nt-item nt-icon-right" nt-direction="right" href="/buttons">
			      <h2>Slide Right</h2>
			      <h3>nt-direction="right"</h3>
			      <i class="ion-ios-arrow-right"></i>
			    </a>

			    <a class="nt-item nt-icon-right" nt-direction="down" href="/buttons">
			      <h2>Slide Down</h2>
			      <h3>nt-direction="down"</h3>
			      <i class="ion-ios-arrow-down"></i>
			    </a>

			    <a class="nt-item nt-icon-right" nt-direction="left" href="/buttons">
			      <h2>Slide Left</h2>
			      <h3>nt-direction="left"</h3>
			      <i class="ion-ios-arrow-left"></i>
			    </a>

			    <a class="nt-item nt-icon-right" nt-type="fade" href="/buttons">
			      <h2>Fade</h2>
			      <h3>nt-type="fade"</h3>
			      <i class="ion-ios-infinite"></i>
			    </a>

			    <a class="nt-item nt-icon-right" nt-type="flip" nt-direction="right" href="/buttons">
			      <h2>Flip right</h2>
			      <h3>nt-type="flip" and nt-direction="right"</h3>
			      <i class="ion-android-arrow-forward"></i>
			    </a>

			    <a class="nt-item nt-icon-right" nt-type="flip" nt-direction="left" href="/buttons">
			      <h2>Flip left</h2>
			      <h3>nt-type="flip" and nt-direction="left"</h3>
			      <i class="ion-android-arrow-back"></i>
			    </a>

		
		</div>
	
	</div>
</template>