<template name="tab4">
	<div class="nt-container">
		
		<div class="nt-header">
			<h1>Feedback!</h1>
		</div>

		<div class="nt-scroll nt-has-header nt-has-tabs nt-padding">

			    <h1>Let me know!</h1>
			    <p>I'd be really interested to hear your thoughts and how it works for you!</p>
			    <p>Follow me on Twitter <a href="https://www.twitter.com/jamieloberman" target="_blank">@JamieLoberman</a> for updates or drop me a line at <a href="mailto:jamie@waited.com">jamie@waited.com</a></p>

			    <hr>
			    <p>I've tested so far on</p>
			    <ul>
			    	<li>iPhone 6s</li>
			    	<li>iPhone 5</li>
			    	<li>Samsung Galaxy S3</li>
			    	<li>Motorola Moto G</li>
			    </ul>
			    <p>Let me know what devices you test on!</p>


		
		</div>
	
	</div>
</template>