<template name="utility">

	<div class="nt-header">	
		{{>ntBackButton}}
		<h1>Utility</h1>
	</div>

	<div class="nt-scroll nt-has-header nt-has-tabs nt-padding">

			<h1>Variables and Colors</h1>
			<p>Variables, including standard colors can be altered by adding the declaration just before you import the stylus stylesheet.</p>
			<p>e.g. $colorPrimary = #e64b3b</p>

			<hr>

			<h1>Border</h1>
			<p class="nt-border">
				Add a class of nt-border to any element to add a border. You can also use nt-border-top, nt-border-right, nt-border-bottom and nt-border-left individually.
			</p>

			<hr>

			<h1>Padding</h1>
			<p class="nt-border nt-padding">
				Add a class of nt-padding to any element to add padding. Added to this div.  Also commonly used on the nt-scroll element like it is on this page.
			</p>

		
	</div>

</template>