<template name="items">

	<div class="nt-header">	
		{{>ntBackButton}}
		<h1>Items</h1>
	</div>

	<div class="nt-content nt-has-header nt-has-tabs nt-padding">

		<h1>Long lists friendly!</h1>

		{{#each array}}
			{{this}}
		{{/each}}

		<p>The content on the tabbed pages are kept alive in the background meaning that you'll never lose your place in a long list! Try heading back there now and you'll see you're in the same position.</p>

		<hr>

		<h1>Modular Packages</h1>
		<p>The native-transitions package can be dropped in to any existing project using FlowRouter with minimal effort.  For new projects I've created the native-transitions-stylus package to help with styling.  Tabs, header and components are also in separate packages so can be used as needed.</p>

		<hr>

		<h1>Items</h1>
		<p>Items are great for lists!  Just add the .nt-item class.</p>

		<hr>

		<h1>Icons</h1>
		<p>Icons can be easily added using the pagebakers:ionicons package. Just add  .nt-icon-left and/or .nt-icon-right to a div and they will be placed correctly.</p>

		<hr>

		<h1>Avatars</h1>
		<p>Just like icons you can add avatars easily!</p>

	</div>

</template>