<template name="text">

	<div class="nt-header">	
		{{>ntBackButton}}
		<h1>Text</h1>
	</div>

	<div class="nt-content nt-has-header nt-has-tabs nt-padding">

			<h1>H1</h1>

			<hr>
	
			<h2>H2</h2>

			<hr>
		
			<h3>H3</h3>

			<hr>
		
			<h4>H4</h4>

			<hr>
		
			<h5>H5</h5>

			<hr>
		
			<h6>H6</h6>

			<hr>
		
			<p>p</p>

			<hr>
		
			<p class="nt-large">nt-large</p>

			<hr>
		
			<p class="nt-small">nt-small</p>

			<hr>
	
			<p class="nt-text-left">nt-text-left</p>

			<hr>
		
			<p class="nt-text-center">nt-text-center</p>

			<hr>
		
			<p class="nt-text-right">nt-text-right</p>
		
	</div>

</template>