//Variables - put first to overwrite any defaults
$colorPrimary = #e64b3b
$colorSecondary = #bf382a
$colorDarkPrimary = #434852
$colorDarkSecondary = #2f3339
$colorGreen = #39911d
$colorLine = #5e6572
$fontFamily = 'Lato', sans-serif
$footerHeight = 60px 
$dividerBackgroundColor = #8c8c8c
$dividerHeight = 6px
$tabsDividerColor = #ffffff
$itemHeaderBackgroundColor = $colorDarkSecondary
$sliderHeight = 170px
$colorRestaurantItemBorder = #8c8c8c

// $padding = 15px

//Import 
@import '{jamielob:native-transitions-stylus}/variables.import.styl';
@import '{jamielob:native-transitions-stylus}/mixins.import.styl';
@import '{jamielob:native-transitions-stylus}/reset.import.styl';
@import '{jamielob:native-transitions-stylus}/core.import.styl';
@import '{jamielob:native-transitions-stylus}/forms.import.styl';
@import '{jamielob:native-transitions-stylus}/images.import.styl';


